<h1>Editing Checkpoint #<%= @checkpoint.id %></h1>

<form action="/checkpoints/<%= @checkpoint.id %>/update">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @checkpoint.name  %>" type="text" />
  </div>
  <div>
    <label for="goal_id">goal_id</label><br />
    <input id="goal_id" name="goal_id" value="<%= @checkpoint.goal_id  %>" type="text" />
  </div>
  <div>
    <label for="num">num</label><br />
    <input id="num" name="num" value="<%= @checkpoint.num  %>" type="text" />
  </div>
  <div>
    <label for="completed">completed</label><br />
    <input id="completed" name="completed" value="<%= @checkpoint.completed  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


