<h1>User #<%= @user.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Password</strong>:<br />
  <p><%= @user.password %></p>
</div>
<div>
  <strong>Theme</strong>:<br />
  <p><%= Theme.find_by(id: @user.theme_id).name %></p>
</div>

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
