<h1>Editing Event #<%= @event.id %></h1>

<form action="/events/<%= @event.id %>/update">
  <div>
    <label for="start_time">start_time</label><br />
    <input id="start_time" name="start_time" value="<%= @event.start_time  %>" type="text" />
  </div>
  <div>
    <label for="end_time">end_time</label><br />
    <input id="end_time" name="end_time" value="<%= @event.end_time  %>" type="text" />
  </div>
  <div>
    <label for="category_id">category_id</label><br />
    <select name="category_id">
      <% Category.all.each do |category| %>
      <option value="<%= category.id %>"> <%= category.name %> </option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="day_id">day_id</label><br />
    <input id="day_id" name="day_id" value="<%= @event.day_id  %>" type="text" />
  </div>
  <div>
    <label for="day_id">desc</label><br />
    <input id="desc" name="desc" value="<%= @event.desc  %>" type="text" />
  </div>
  <div>
    <label for="day_id">timespan</label><br />
    <input id="timespan" name="timespan" value="<%= @event.timespan  %>" type="integer" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


