<h1>Day #<%= @day.id %></h1>

<div>
  <strong>Date</strong>:<br />
  <p><%= @day.date %></p>
</div>
<div>
  <strong>Weekday</strong>:<br />
  <p><%= @day.weekday? %></p>
</div>

<table>
  <td>
    <table>
      <% (0..24).each do |num| %>
      <tr style="background-color: #FFF; height: 60px;" > <td ><%= num %>:00</td> <td></td></tr>
      <% end %>
    </table>
  </td>
  
  <td style>
    <table>
    <% Event.all.each do |event| %>
      <tr>
      <td style="background-color: <%=Category.find_by(id: event.category_id).color%>; height:<%=event.timespan%>px; width:20%;" ><a href="/events/<%= event.id %>"> <%= event.desc %> </a> </td>
      </tr>
    <% end %>
    </table>
  </td>
  
</table>

<a href="/days/<%= @day.id %>/edit">Edit</a> |
<a href="/days/<%= @day.id %>/destroy">Destroy</a>
