<p><a href="/new_goal">Add a New Goal</a> | <a href="/new_category">New Category</a> </p>

<% Category.all.each do |category| %>

<h2> <%= category.name %> </h2>

<br />
<br />

<% Goal.where(category_id: category.id.to_i, user_id: User.find_by(id: session['user_id'])).each do |goal| %>

<div class="container" style="width: 500px; display: inline-block;" id="<%= goal.id %>">
    
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading" style="background-color: <%=Category.find_by(id: goal.category_id).color %>;"><a href="/goals/#<%= goal.id %>"><%= goal.name %></a></div>
      <div class="panel-body">
        <p><%= goal.desc %></p>

      </div>
    </div>

<div>

  
</div>
<a href="/goals/<%= goal.id %>/edit">Edit</a> |
<a href="/goals/<%= goal.id %>/destroy">Destroy</a>

<br />
<br />
<br />
<br />

</div>  
<tr>
          
<% end %>

  <% end %>
  
 

