<h1>Goals</h1>

<p><a href="/new_goal">Add a New Goal</a> | <a href="/category_index">View by category</a> | <a href="/new_category">New Category</a> </p>

<br />
<br />

<% @goals.each do |goal| %>

<div class="container" style="width: 500px; display: inline-block;" id="<%= goal.id %>">
    
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading" style="background-color: <%=Category.find_by(id: goal.category_id).color %>;"><a href="/goals/<%= goal.id %>"><%= goal.name %></a></div>
      <div class="panel-body">
        <p><%= goal.desc %></p>

      </div>
      <!-- ****** TABLE ********* -->
      <table class="table">
        <tbody>
          <tr>
          <form action="/goals/<%=goal.id%>/new_checkpoint" style="float: right;">
    <input type='submit' style="float: right;">
    <input type='text' name='name' placeholder='new checkpoint' style="float: right;">
    
  </form>
          </tr>
          <% Checkpoint.where(goal_id: goal.id).each do |checkpoint|%>
            <tr>
              <!-- Hide all forms -->
              <script>
                  $('form').hide();
              </script>
              
              <!-- NAME -->
              <td><span id = "text_<%=checkpoint.id%>"> <%= checkpoint.name %> </span>
                <form id = "form_<%=checkpoint.id%>" action="/goals/<%=goal.id%>/edit_checkpoint/<%=checkpoint.id%>">
                  <input type='text' name='name' value = '<%=checkpoint.name%>'>
                </form>
              <script>
                
              </script>
              
              </td>
              <!-- END NAME -->
              
              <!-- COMPLETED OR NOT -->
              <% if checkpoint.completed %>
              <td><span class="glyphicon glyphicon-ok">  </span></td>
              <% else %>
              <td><p id = 'dash_<%=checkpoint.id%>' href="/goals/<%=goal.id%>/mark_as_complete/<%=checkpoint.id%>">-</p></td>
              <% end %>
              
              <script>
                $('#dash_<%=checkpoint.id%>').click( function() {  
                  $('#dform_<%=checkpoint.id%>').show()
    $('td').background_color('red')              
                  
                });
              </script>
              <!-- END COMPLETED OR NOT -->
              
              <!-- EDIT -->
              
              <!-- DATE -->
              <td style="width: 100px">
                <% if checkpoint.completed && checkpoint.date %>
                <p><%= checkpoint.date.strftime("%y/%d/%m") %></p>
                <% else %>
                <!-- Date form -->
                <form id = "dform_<%=checkpoint.id%>" action="/goals/<%=goal.id%>/mark_as_complete/<%=checkpoint.id%>" >
                  <input type='date' name='date' placeholder='date completed' style="width: 100px">
                </form> 
                <!-- End of date form -->
                <% end %>
                
                <script>
                  $('#form_<%=checkpoint.id%>').submit( function() {
                  $('#dform_<%=checkpoint.id%>').show()

                });
                </script>
              </td>
              <td><span class="glyphicon glyphicon-pencil"  id='edit_<%=checkpoint.id%>'></span>
                
                 <script>
                $('#edit_<%=checkpoint.id%>').click( function() {
                  
                  $("#form_<%=checkpoint.id%>").show();
                  $("#text_<%=checkpoint.id%>").hide();

                });
                </script>
              </td>
              <!-- END DATE -->
              
              <!-- *********** REMOVE *************-->
              <td><a href="/goals/<%= goal.id %>/destroy_checkpoint/<%= checkpoint.id%>"><span id='remove_<%=checkpoint.id%>' class="glyphicon glyphicon-remove"> </span></a>
              
             </td>
             <!-- *********** END OF REMOVE *************-->
              
            </tr>
          <% end %>
        
        </tbody>
      </table>
    </div>

<div>

  
</div>
<a href="/goals/<%= goal.id %>/edit">Edit</a> |
<a href="/goals/<%= goal.id %>/destroy">Destroy</a>

<br />
<br />
<br />
<br />

</div>  
<tr>
          
<% end %>


  
 

