<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading" style="background-color: <%=Category.find_by(id: @goal.category_id).color %>;"><%= @goal.name %></div>
      <div class="panel-body">
        <p><p><%= @goal.desc %></p></p>

      </div>
  <a href='/goals/<%= @goal.id %>/s/add_checkpoint'> Add Checkpoint </a>
      <!-- Table -->
      <table class="table">
        <tbody>
          <% Checkpoint.where(goal_id: @goal.id).each do |checkpoint|%>
            <tr>
              <td><%= checkpoint.name %></td>
              <% if checkpoint.completed %>
              <td><span class="glyphicon glyphicon-ok"></span></td>
              <% else %>
              <td><span class="glyphicon glyphicon-minus"></span></td>
              <% end %>
              <td>..</td>
              <td>..</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

<a href="/goals/<%= @goal.id %>/edit">Edit</a> |
<a href="/goals/<%= @goal.id %>/destroy">Destroy</a>
