<!DOCTYPE html>
<html>
<head>
  <title>Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
    <% if session['user_id'] %>
    <% theme = Theme.find_by(id: User.find_by(id: session['user_id']).theme_id) %>
    
    body{
      background-image: url("<%= theme.background %>")
    }
    
    #allcontent{
      background-color: <%= theme.color %>;
      <% if theme.transparent %>
        opacity: 0.8;
        filter: alpha(opacity=80);
      <%end%>
    }
    
    #allcontent div{
      background-color: #FFF;
      
    }
    
    #allcontent div{
      opacity: 1.0;
      filter: alpha(opacity=80);
    }
    
    
    <% end %>
  </style>
  
</head>
<body>
  
   <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:notice_warning] %>
    <div class="alert alert-warning">
      <%= flash[:notice_warning] %>
    </div>
  <% end %>
  
  
  <% if session['user_id'] %>
    <% if theme.navbar%>
      <nav class="navbar navbar-default" role="navigation">
    <% else %>
      <nav class="navbar navbar-inverse" role="navigation">
    <% end %>
  <%else %>
        <nav class="navbar navbar-default" role="navigation">
  <% end %>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
     <% if session['user_id'] %>
    <% u = User.find_by(id: session['user_id']) %>
     <a class="navbar-brand" href="/goals">My Goals</a>
    <a class="navbar-brand" href="/users/<%= u.id %>/edit">Edit Profile</a>
    <a class="navbar-brand" href="/users/<%= u.id %>/theme">Change Theme</a>
    <ul class="nav navbar-nav navbar-right">
     <p class="navbar-text" class="nav navbar-nav navbar-left"> Signed in as <%= u.name %>  <a href='/sessions/destroy'> Sign out </a></p>
    </ul>
    <%else%>
    
     <ul class="nav navbar-nav navbar-right">
       <form class="navbar-form navbar-left" role="login" action="/sessions/create">
        <div class="form-group">
          <input type='text' class='form-control' name='username' placeholder='username'>
        </div>
         <div class="form-group">
          <input type='password' class='form-control' name='password' placeholder='password'>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
       <h4 class="navbar-text" class="navbar-form navbar-right"><a href='/new_user'> Sign up for free </a></h4>
     </ul>
    <% end %>
       

  </div><!-- /.container-fluid -->
</nav>
  
 <div class="container" id="allcontent">
  
  
<%= yield %>

  </div>
</body>
</html>
